.NavLink {
  
  font-weight: 400;
  color: $white;
  text-decoration: none;
  
}

// .NavLink + .NavLink {
//   margin-left: 1rem;
// }

// .NavLink:hover,
// .NavLink.active,
// .NavLink:focus {
//   color: var(--primary);
//   border-bottom-color: currentColor;
// }
